<html>
    <head>
        <title>
            표준가뭄지수 예측
        </title>>
    </head>
    <body>

        <center>
            <br><br><h3> 표준가뭄지수(SPI1)를 구하고 싶은 지역의 다음 달 예상 평균 기온 및 월누적강수량을 입력하세요. </h3><br>
            
            <form method="POST", action="{{url_for('home')}}">
               <b> 지역 : 
                <select name = 'a' required>
                    <option value="속초">속초</option>
                    <option value="대관령">대관령</option>
                    <option value="춘천">춘천</option>
                    <option value="강릉">강릉</option>
                    <option value="서울">서울</option>
                    <option value="인천">인천</option>
                    <option value="원주">원주</option>
                    <option value="충주">충주</option>
                    <option value="서산">서산</option>
                    <option value="울진">울진</option>
                    <option value="청주">청주</option>
                    <option value="대전">대전</option>
                    <option value="포항">포항</option>
                    <option value="군산">군산</option>
                    <option value="대구">대구</option>
                    <option value="전주">전주</option>
                    <option value="울산">울산</option>
                    <option value="광주">광주</option>
                    <option value="부산">부산</option>
                    <option value="통영">통영</option>
                    <option value="목포">목포</option>
                    <option value="여수">여수</option>
                    <option value="완도">완도</option>
                    <option value="제주">제주</option>
                    <option value="성산">성산</option>
                    <option value="서귀포">서귀포</option>
                    <option value="진주">진주</option>
                    <option value="강화">강화</option>
                    <option value="양평">양평</option>
                    <option value="이천">이천</option>
                    <option value="인제">인제</option>
                    <option value="홍천">홍천</option>
                    <option value="제천">제천</option>
                    <option value="보은">보은</option>
                    <option value="천안">천안</option>
                    <option value="보령">보령</option>
                    <option value="부여">부여</option>
                    <option value="금산">금산</option>
                    <option value="부안">부안</option>
                    <option value="임실">임실</option>
                    <option value="정읍">정읍</option>
                    <option value="남원">남원</option>
                    <option value="장수">장수</option>
                    <option value="장흥">장흥</option>
                    <option value="해남">해남</option>
                    <option value="고흥">고흥</option>
                    <option value="영주">영주</option>
                    <option value="문경">문경</option>
                    <option value="영덕">영덕</option>
                    <option value="구미">구미</option>
                    <option value="영천">영천</option>
                    <option value="거창">거창</option>
                    <option value="합천">합천</option>
                    <option value="밀양">밀양</option>
                    <option value="산청">산청</option>
                    <option value="거제">거제</option>
                    <option value="남해">남해</option>
                </select><br><br>
                예상 평균 기온 :  <input type="number" step = "0.1" required name='b'> <br><br>
                예상 월누적강수량 :  <input type="number" step = "0.1" required name='c'> <br><br><br></b>
                <input type="submit" , value="결과" >
            </form>
        </center>
        
        <center>
            <h4>표준가뭄지수(SPI / 표준강수지수) 기준</h4>
            <p>
            습함 : 1.0 이상<br>
            정상 : -1.0 초과 1.0 미만<br>
            약한 가뭄 : -1.5 초과 -1.0 이하<br>
            보통 가뭄 : -2.0 초과 -1.5 이하<br>
            심한 가뭄 : -2.0 이하
            </p>
        </center>
    
    
        <center>
            <h4>가뭄 관련 사이트</h4>
            <p>
            - 국가 가뭄 정보 포털: https://www.drought.go.kr/menu/m30/m31.do/ <br>
            - 수문기상가뭄정보시스템 / 강수량 확인 포털: https://hydro.kma.go.kr/droughtU/analysisAll.do# <br>
            </p>
        </center>
            

    </body>
</html>